.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  animation: show-up 0.7s ease;
}

.content {
  background-color: var(--color-white);
  padding: 12px;
  width: 350px;
  border-radius: 4px;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button__close {
  cursor: pointer;
  transition: all 350ms ease-out;
}

.button__close:hover {
  transition: all 250ms ease-in;
  color: var(--color-red);
  transform: scale(1.1);
  transform: rotate(4deg);
}

/* ANIMATIONS */
@keyframes show-up {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0px);
  }
}
