:root {
  --color-dark: #08090a;
  --color-white: #ffffff;
  --color-blue: #009eff;
  --color-yellow: #f5ee9e;
  --color-green: #139a43;
  --color-red: #eb5e55;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: var(--color-dark);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ead7d1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ead7d1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d8a496;
}
