.TodoSearch--input {
  display: block;
  width: 500px;
  height: 45px;
  margin: 0 auto;
  font-size: 14pt;
  border-radius: 10px;
  border: none;
  font-weight: 300;
  margin-top: 1em;
  color: #cfcfcf;
  background-color: #30363b;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
}

.TodoSearch--input::placeholder {
  color: rgba(207, 207, 207, 0.6);
}
